.container {
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(220, 220, 220);

  /* Link가 하이퍼링크처럼 나오지 않도록 설정 */
  color: black;
  text-decoration: none;
}

.container img {
  width: 80px;
}

.title {
  font-weight: bold;
}

.subTitle {
  word-break: keep-all;
}

.author {
  color: gray;
}
